html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.white{
    color:white;
}
.black {
    color: black;
}

.btn-logud {
    color: #FFFFFF;
    background-color: #E01237;
    border-color: #E01237;
    border-radius: 8px;
}

    .btn-logud:hover,
    .btn-logud:focus,
    .btn-logud:active,
    .btn-logud.active,
    .open .dropdown-toggle.btn-logud {
        color: #FFFFFF;
        background-color: #DE7E7E;
        border-color: #DE7E7E;
    }

    .btn-logud:active,
    .btn-logud.active,
    .open .dropdown-toggle.btn-logud {
        background-image: none;
    }

    .btn-logud.disabled,
    .btn-logud[disabled],
    fieldset[disabled] .btn-logud,
    .btn-logud.disabled:hover,
    .btn-logud[disabled]:hover,
    fieldset[disabled] .btn-logud:hover,
    .btn-logud.disabled:focus,
    .btn-logud[disabled]:focus,
    fieldset[disabled] .btn-logud:focus,
    .btn-logud.disabled:active,
    .btn-logud[disabled]:active,
    fieldset[disabled] .btn-logud:active,
    .btn-logud.disabled.active,
    .btn-logud[disabled].active,
    fieldset[disabled] .btn-logud.active {
        background-color: #E01237;
        border-color: #E01237;
    }

    .btn-logud .badge {
        color: #E01237;
        background-color: #FFFFFF;
    }


.btn-profil {
    color: #FFFFFF;
    background: transparent;
    border-color: transparent;
    border-radius: 8px;
}

    .btn-profil:hover,
    .btn-profil:focus,
    .btn-profil:active,
    .btn-profil.active,
    .open .dropdown-toggle.btn-profil {
        color: #FFFFFF;
        background-color: #64B319;
        
    }

    .btn-profil:active,
    .btn-profil.active,
    .open .dropdown-toggle.btn-profil {
        background-image: none;
    }

    .btn-profil.disabled,
    .btn-profil[disabled],
    fieldset[disabled] .btn-profil,
    .btn-profil.disabled:hover,
    .btn-profil[disabled]:hover,
    fieldset[disabled] .btn-profil:hover,
    .btn-profil.disabled:focus,
    .btn-profil[disabled]:focus,
    fieldset[disabled] .btn-profil:focus,
    .btn-profil.disabled:active,
    .btn-profil[disabled]:active,
    fieldset[disabled] .btn-profil:active,
    .btn-profil.disabled.active,
    .btn-profil[disabled].active,
    fieldset[disabled] .btn-profil.active {
        background-color: #CAB167;
       
    }

    .btn-profil .badge {
        color: #CAB167;
        background-color: #FFFFFF;
    }

.OversigtTabel tr:nth-child(odd) {
    background-color: #EEE;
}

.OversigtTabel tr:nth-child(even) {
    background-color: #fff;
}
.OversigtTabel thead{
    background-color:transparent;
}


.tg {
    border-collapse: collapse;
    border-color: #ccc;
    border-spacing: 0;
}

    .tg td {
        background-color: #fff;
        border-color: #ccc;
        border-style: solid;
        border-width: 1px;
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        word-break: normal;
    }

    .tg th {
        background-color: #f0f0f0;
        border-color: #ccc;
        border-style: solid;
        border-width: 1px;
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 15px;
        word-break: normal;
    }

    .tg .tg-lboi {
        border-color: inherit;
        text-align: center;
        vertical-align: middle
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: center;
        vertical-align: top
    }

    .tg .tg-0lax {
        text-align: center;
        vertical-align: top
    }


.TidFrem/tilbage {
    width: 20px;
    height: 30px;
    border: 1px solid #444444;
    padding: 3px;
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #222222;
    background-color: #E3E3E3;
}
.btn-vagt {
    border: 0;
    padding: 20px;
    height: 100%;
    width: 100%;
}
