@page

@model Time_Plan.dk.Pages.Admin.CreateModel


@{
    ViewData["Title"] = "Create";
}

<body>
    <HTML>

    <head>
        <style>
            table, th, td {
                text-align: left;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1vw;
            }
        </style>
    </head>


    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <table style="width: 60%;
        margin-left:auto;
        margin-right:auto;
        ">


            <!-- Før A -->

            <tr>

                <td colspan="5">

                    <h5>Opret medarbejder</h5>

                </td>

            </tr>


            <!-- A -->

            <td style="width:10%">

                <div class="incorrect-input-danger">

                    <input type="text" class="form-control" placeholder="Fornavn" size="1" asp-for="Person.FirstName" />

                    <span asp-validation-for="Person.FirstName" class="text-danger"></span>

                </div>

            </td>


            <td style="width:15%">

                <div class="incorrect-input-danger">

                    <input type="text" class="form-control" placeholder="Efternavn" size="15" asp-for="Person.LastName" />

                    <span asp-validation-for="Person.LastName" class="text-danger"></span>

                </div>

            </td>


            <td style="width:10%"></td>

            <td style="width:5%">Nej</td>

            <td style="width:5%">Ja</td>




            <!-- B -->

            <tr>


                <td>

                    <div class="incorrect-input-danger">

                        <input type="text" class="form-control" placeholder="CPR" size="2" asp-for="Person.SocialSecurityNumber" />

                        <span asp-validation-for="Person.SocialSecurityNumber" class="text-danger"></span>

                    </div>

                </td>

                <td>

                    <div class="incorrect-input-danger">

                        <input type="text" class="form-control" placeholder="Telefon" size="2" asp-for="Person.PhoneNumber" />

                        <span asp-validation-for="Person.PhoneNumber" class="text-danger"></span>

                    </div>


                <td>Admin</td>


                <td>

                    <input type="radio" id="Nej" asp-for="Person.Role" value="Medarbejder" checked />

                    <label for="Nej"></label>

                </td>


                <td>

                    <input type="radio" id="Ja" asp-for="Person.Role" value="Admin" />

                    <label for="Ja"></label>

                </td>






                <!-- C -->

            <tr>


                <td colspan="2">

                    <div class="incorrect-input-danger">

                        <input type="text" class="form-control" placeholder="Adresse" size="30" asp-for="Person.Address" />

                        <span asp-validation-for="Person.Address" class="text-danger"></span>

                    </div>

                </td>


                <td>Kørekort</td>


                <td>

                    <input type="radio" id="Nej" asp-for="Person.DriversLicense" value="false" checked />

                    <label for="Nej"></label>

                </td>

                <td>

                    <input type="radio" id="Ja" asp-for="Person.DriversLicense" value="true" />

                    <label for="Ja"></label>

                </td>


                <!-- D -->

            <tr>

                <td colspan="2">

                    <div class="incorrect-input-danger">

                        <input type="text" class="form-control" placeholder="Email" size="25" asp-for="Person.Email" />

                        <span asp-validation-for="Person.Email" class="text-danger"></span>

                    </div>

                </td>


                <td>Med trailer</td>

                <td>

                    <input type="radio" id="Nej" asp-for="Person.DriversLicenseWithTrailer" value="false" checked />

                    <label for="Nej"></label>

                </td>

                <td>

                    <input type="radio" id="Ja" asp-for="Person.DriversLicenseWithTrailer" value="true" />

                    <label for="Ja"></label>

                </td>


                <!-- E -->

            <tr>

                <td>

                    <div class="incorrect-input-danger">

                        <input type="text" class="form-control" placeholder="Lønnr" id="Lønnr" size="12" asp-for="Person.LønNr" asp-for="Person.Password" />

                        <span asp-validation-for="Person.LønNr" class="text-danger"></span>

                    </div>

                </td>


                <td></td>

                <td></td>


                <TD colspan="2">

                    <input type="submit" value="Opret" class="btn btn-primary" />

                </TD>


            </tr>

        </table>


    </form>

</HTML>






<h3 align="center" ">@Html.ValidationMessage("DuplicateLønNr")</h3>

<h3 align="center" ">@Html.ValidationMessage("DuplicateSSN")</h3>

    @* </form>*@

    </div>

</div>


<div>

    <a asp-page="Index">Oversigt over medarbejdere</a>

</div>

</body>

@section Scripts {

    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

}