@page
@model Time_Plan.dk.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
}


@if (User.IsInRole("Admin"))
{
    <h2>Rediger</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Person.Role" class="control-label"></label>
                    <input asp-for="Person.Role" class="form-control"  />
                    <span asp-validation-for="Person.Role" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.FirstName" class="control-label"></label>
                    <input asp-for="Person.FirstName" class="form-control"  />
                    <span asp-validation-for="Person.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.LastName" class="control-label"></label>
                    <input asp-for="Person.LastName" class="form-control" />
                    <span asp-validation-for="Person.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.Address" class="control-label"></label>
                    <input asp-for="Person.Address" class="form-control" />
                    <span asp-validation-for="Person.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.PhoneNumber" class="control-label"></label>
                    <input asp-for="Person.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Person.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.Email" class="control-label"></label>
                    <input asp-for="Person.Email" class="form-control" />
                    <span asp-validation-for="Person.Email" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Person.DriversLicense" /> @Html.DisplayNameFor(model => model.Person.DriversLicense)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Person.DriversLicenseWithTrailer" /> @Html.DisplayNameFor(model => model.Person.DriversLicenseWithTrailer)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Person.LønNr" class="control-label"></label>
                    <input asp-for="Person.LønNr" class="form-control" />
                    <span asp-validation-for="Person.LønNr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.SocialSecurityNumber" class="control-label"></label>
                    <input asp-for="Person.SocialSecurityNumber" class="form-control" />
                    <span asp-validation-for="Person.SocialSecurityNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.Password" class="control-label"></label>
                    <input asp-for="Person.Password" class="form-control" />
                    <span asp-validation-for="Person.Password" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Person.ID" />
                <div class="form-group">
                    <input type="submit" value="Gem" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Tilbage til oversigt</a>
    </div>
}

else
{
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Person.Role" class="control-label"></label>
                    <input asp-for="Person.Role" class="form-control" readonly />
                    <span asp-validation-for="Person.Role" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.FirstName" class="control-label"></label>
                    <input asp-for="Person.FirstName" class="form-control" readonly />
                    <span asp-validation-for="Person.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.LastName" class="control-label"></label>
                    <input asp-for="Person.LastName" class="form-control" readonly />
                    <span asp-validation-for="Person.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.Address" class="control-label"></label>
                    <input asp-for="Person.Address" class="form-control" />
                    <span asp-validation-for="Person.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.PhoneNumber" class="control-label"></label>
                    <input asp-for="Person.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Person.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.Email" class="control-label"></label>
                    <input asp-for="Person.Email" class="form-control" />
                    <span asp-validation-for="Person.Email" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" style="pointer-events:none; background-color:#a8a8" asp-for="Person.DriversLicense" readonly /> @Html.DisplayNameFor(model => model.Person.DriversLicense)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" style="pointer-events:none" asp-for="Person.DriversLicenseWithTrailer" readonly /> @Html.DisplayNameFor(model => model.Person.DriversLicenseWithTrailer)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Person.LønNr" class="control-label"></label>
                    <input asp-for="Person.LønNr" class="form-control" readonly />
                    <span asp-validation-for="Person.LønNr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.SocialSecurityNumber" class="control-label"></label>
                    <input asp-for="Person.SocialSecurityNumber" class="form-control" readonly />
                    <span asp-validation-for="Person.SocialSecurityNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.Password" class="control-label"></label>
                    <input asp-for="Person.Password" class="form-control" />
                    <span asp-validation-for="Person.Password" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Person.ID" />
                <div class="form-group">
                    <input type="submit" value="Gem" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Tilbage til oversigt</a>
    </div>
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}