@page
@model Time_Plan.dk.Pages.TR.IkkeKlarEndnuModel
@{
}

<div style="display:flex;justify-content: center;transform: translate(0%, 34%);">
    <h1>Ikke klar endnu</h1>
   
</div>
<div style="display:flex;justify-content: center;transform: translate(0%, 34%);"> <img src="~/Img/construct-construction.gif" /></div>
