@page
@model IndexModel

<h1>Login</h1>

<form method="post">
    <div>
        <label for="role">Rolle:</label>
        <input asp-for="Role" type="text" value="@Model.Role" id="role" name="role" required />
    </div>
    <div>
        <label for="lønnr">LønNr:</label>
        <input asp-for="LønNr" type="text" value="@Model.LønNr" id="lønnr" name="lønnr" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input asp-for="Password" type="password" value="@Model.Password" id="password" name="password" required />
    </div>
    <button type="submit">Login</button>
</form>

<div>
    @ViewData["Message"]
</div>


