@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Time_Plan.dk.Pages.AShift.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Opret vagt</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <select asp-for="Shift.MedarbejderLønNr" class="form-select" asp-items="@(new SelectList(Model.EmployeeDict,"Key", "Value"))"><option value="Key" selected disabled>---Vælg Medarbejder---</option></select>

          

            <div class="form-group">
                <label asp-for="Shift.StartTime" class="control-label"></label>
                <input asp-for="Shift.StartTime" class="form-control" />
                <span asp-validation-for="Shift.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shift.EndTime" class="control-label"></label>
                <input asp-for="Shift.EndTime" class="form-control" />
                <span asp-validation-for="Shift.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shift.TypeofJob" class="control-label"></label>
                <input asp-for="Shift.TypeofJob" class="form-control" />
                <span asp-validation-for="Shift.TypeofJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shift.Location" class="control-label"></label>
                <input asp-for="Shift.Location" class="form-control" />
                <span asp-validation-for="Shift.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opret" class="btn btn-primary" />
            </div>

        </form> 
        <h3 align="center" "></>@Html.ValidationMessage("Planlægningsfejl")</h3>
        </div>
        </div>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
